<% if (title) { %>
    <h1 id="login-head"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<div id="login-form">

    <form method="post" class="login" action="/account/login" id="loginForm">
            <label for="account_email">Email</label>
            <input 
                type="email" 
                autocomplete="email" 
                name="account_email" 
                id="account_email" 
                required 
                title="account_email"
                placeholder="xxxx@mail.com">
            <label for="account_password">Password</label>
            <input
                type="password"
                autocomplete="current-password"
                name="account_password"
                id="account_password"
                required
                title="account_password">
            
            <button type="button" id="showPassword">Show Password</button>

            <input
                type="submit"
                id="button-submit"
                name="submit"
                value="Log In">
    </form>

</div>
<p>No account? <a id="sign-up" href="/account/register">Sign Up</a></p>
