<% if (title) { %>
    <h1 id="login-head"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% if (errors) { %>
    <ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<div>
    <p>Here you have your information</p>
</div>

<div id="register-forms">

    <form method="post" class="register" action="/account/updateInfo">
        <label class="require" for="account_password">Password</label>
        <span>For a New Password must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
        <input
            type="password"
            id="account_password"
            name="account_password"
            title="account_password"
            required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            >
        
            
        <button type="button" id="showPassword">Show Password</button>

        <input
        type="submit"
        id="button-submit"
        name="submit"
        value="Update Password">
    </form>
    

</div>

<script src="/public/js/showNewPassword.js" defer></script>