<h1>
    Welcome to CSE Motors!
</h1>
<picture>
    <source media="(min-width: 800px)" srcset="/images/vehicles/delorean.jpg">
    <img src="/images/vehicles/delorean-tn.jpg" alt="delorean" loading="lazy" width="300px" height="200px">
</picture>