/******* Change Box Model ***************/

:root {
  --primary_color: #ffffff;
  --second_color: #242332;
  --third_color: #01b0d3;
  --font_color: black;

  --primary_font: "Roboto", system-ui;
}

* {
  text-align: center;
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--primary_font);
  color: var(--font_color);
  font-weight: 900;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

/*Background*/
#background {
  display: none;
}

/*Header*/
#top-header {
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

#top-header .siteName {
  font-family: var(--primary_font);
  font-size: 280%;
  font-weight: bold;
  text-decoration: none;
  color: var(--font_color);
}

#tools {
  color: var(--third_color);
  font-weight: 900;
}

nav {
  text-align: center;
  background-color: var(--second_color);
}
nav > ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav > ul > li {
  text-align: center;
  font-weight: 400;
  color: var(--primary_color);
}

nav > ul > li > a {
  color: var(--primary_color);
}

/*Footer*/
footer * {
  color: black;
  font-weight: 600;
  text-align: left;
}


/*MAIN DESING*/
#id_delorean  h2, h3 {
  text-align: left;
}

main li{
  text-align: left;
  margin-left: 2rem;
}
.upgrades-imgs {
  background-color: var(--third_color);
}

.class_delorean {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.class_delorean > picture {
  grid-area: 1/1/2/3;
  margin-top: 2rem;
}

.class_delorean > picture img {
  width: 100%;
  height: 100%;
}

.class_delorean article {
  grid-area: 1/1/3/2;
  background-color: rgb(255, 255, 255, 0.7);
}

.class_delorean article h3 {
  font-style: inherit;
  color: var(--third_color);
  font-weight: 1000;
  text-align: left;
}

.class_delorean article p {
  text-align: left;
}

#own-today {
  padding: 1rem;
  margin: 0.5rem;
  background-color: var(--third_color);
  transition: all 2s;
}

#own-today:hover {
  background-color: blue;
  color: var(--primary_color);
  transform: scale(1.1);
}

#upgrades-delorean {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#upgrades-delorean figcaption {
  background-color: var(--primary_color);
  margin: 0;
  text-decoration: underline;
  color: darkblue;
  font-weight: 500;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  list-style: none;
}

#inv-display > *{
  text-align: center;
}

#inv-display img {
  width: 80%;
}
/************************************************************************
Classifications Section.
*/

@keyframes action {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 150%;
  color: var(--second_color);
  position: relative;
  /* animation: action 7s linear 16s; */
}


#car-information {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid var(--third_color);
  border-radius: 15px;
  padding: 1.5rem;
  margin: 0;
}

#car-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px var(--second_color);
  margin: 1rem 0;
}

#info * {
  text-align: left;
  font-weight: 300;
}

#info h3, #info h4 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--second_color);
}

/*Form Style*/
.login, .register, .expand-data {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border: solid  3px var(--second_color);
  border-radius: 15px;
  background-color: rgb(1, 176, 211, 0.50);
}

.login *, .register * {
  margin: 0 auto;
}

input {
  width: 80%;
}

#button-submit {
  width: 50%;
  padding: .5rem 2rem;
}

#button-submit:hover {
  cursor: pointer;
}

.require::before {
  content: "*";
}

.expand-data input {
  width: 100%;
}

input:required:invalid, input:focus:invalid {
  background-image: url(/images/site/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
}
input:required:valid {
  background-color: #9bd2ad;
  background-position: right top;
  background-repeat: no-repeat;
}

/*Management Section*/
#management-inv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#management-inv * {
  text-align: left;
  padding: 1rem;
  background-color: var(--second_color);
  color: var(--primary_color);
  border-radius: 15px;
  margin: 0 auto;
}

#management-inv a:hover {
  background-color: var(--third_color);
}

#display-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#display-links a {
  background-color: var(--third_color);
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid var(--second_color);
  border-radius: 15px;
}

/*Large Views*/
@media screen and (min-width: 820px) {

  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #background {
    display: block;
    grid-area: 1/1/3/3;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  #wrapper {
    grid-area: 1/1/3/3;
    margin: 1.5rem;
    z-index: 2;
    background-color: var(--primary_color);
    border: 5px solid var(--third_color);
    border-radius: 15px;
  }

  #reviews-upgrades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .class_reviews {
    grid-area: 1/2/2/3;
  }

  .class_upgrades {
    grid-area: 1/1/2/2;
  }

  .class_delorean article {
    margin-right: 100px;
  }
  
  h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 150%;
    color: var(--second_color);
    position: relative;
    /* animation: action 15s linear 16s; */
  }

  #car-image img {
    margin: inherit;
  }

  #car-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border: 2px solid var(--third_color);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 0;
  }
  
}