<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } 
else { res.redirect('/') } %>

<%- messages() %>

<%- cart %>
<hr>
<form method="post">
    <input 
        type="submit"
        class="general-button"
        id="cleanCart"
        name="submit"
        value="Clean Cart"/>
</form>